fastapi
uvicorn[standard]
pillow
opencv-python
numpy
python-multipart
typing-extensions
torch==2.2.2+cpu
torchvision==0.17.2+cpu
onnxruntime==1.17.3
--extra-index-url https://download.pytorch.org/whl/cpu

